<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDIT</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">

    <label for="bookName">Введите название книги: </label>
    <input type="text" th:field="*{bookName}" id="bookName"/>
    <div style="color: red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">err</div>
    <br/>

    <label for="bookAutor">Введите автора: </label>
    <input type="text" th:field="*{bookAutor}" id="bookAutor"/>
    <div style="color: red" th:if="${#fields.hasErrors('bookAutor')}" th:errors="*{bookAutor}">err</div>
    <br/>

    <label for="bookDate">Введите год издания: </label>
    <input type="text" th:field="*{bookDate}" id="bookDate"/>
    <div style="color: red" th:if="${#fields.hasErrors('bookDate')}" th:errors="*{bookDate}">err</div>
    <br/>

    <input type="submit" value="Обновить"/>
</form>

</body>
</html>